h2 {
    text-align: center;
}
h3 {
    font-size: 95%;
    color: rgb(135, 206, 156);
}

#part_1 {
  background: #e7f1e3;
  font-size: 95%;
  padding: 30px;
  width: 20em;
  display: table-cell;
  /* 表格单元格 */
  vertical-align: top;
  text-align: center;
}

#part_2 {
  background: #e7f1e3;
  font-size: 95%;
  padding: 30px;
  /* 因为有border-spacing,所以这里不需要margin */
  display: table-cell;
  /* 表格单元格,浏览器默认对齐方式为居中 */
  vertical-align: top;
  text-align: center;
  /* vertical-align垂直对齐 */
  /* text-align水平对齐 */
}

#part_3 {
  background: #e7f1e3;
  font-size: 95%;
  padding: 30px;
  display: table-cell;
  /* 表格单元格 */
  vertical-align: top;
  text-align: center;
}

/* 表格选择器 */
div#tableContainer {
  display: table;
  /* 表格布局 */
  border-spacing: 15px;
  /* 给边框之间留10px的空隙,与margin不会重叠 */
}

div#tableRow {
  display: table-row;
  /* 表格行 */
}

div#container_1 {
    height: 700px;
    background-color: #e7f1e3;
    padding: 30px;
    text-align: center;
}
